---
import Layout from '../layouts/Layout.astro';
import Launches from '../components/Launches.astro';
import CardLaunch from '../components/CardLaunch.astro';

---

<Layout title="Welcome to Astro.">
	<main class=" font-Montserrat min-h-screen  bg-gray-900 text-white">
		<header class=" py-5">
			<h1 class='text-7xl text-center  font-bold'>SpaceX Launches</h1>
		</header>
<Launches />

	</main>

</Layout>


